/* Overlay styles */
#custom-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999; /* Ensure it covers all other content */
  width: fit-content;
  height: fit-content;
  background: transparent;
  right: 30px;
  top: -30px;
}

/* Ensure iframe has correct styling */
#custom-iframe {
  width: 450px;
  height: 700px;
  border: none;
}
